.sidebar{
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 100px;
}

.sidebar div{
    margin: 20px;
}

.sidebar .middle .icons{
    margin-bottom: 30px;
}

.sidebar .end{
    position: absolute;
    bottom: 10px;
}

.sidebar .icons{
    color: white;

}
.sidebar .login-text{
    color: white;
}

@media (max-width:768px){
    .sidebar{
        background-color: white;
        color: var(--main-color) !important;
    }
    .sidebar .login-text{
        color: var(--main-color);
    }
    .sidebar .icons{
        color: var(--main-color) !important;
        width: 22px !important;
        height: auto;
    }
    .sidebar .middle .icons{
        margin-bottom: 10px;
    }
}