.layout_unsuccess{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.layout_unsuccess .vector_logo_unsuccess{
  width: 200px;
  height: auto;
}

.layout_unsuccess .ex_symbol{
  color: white;
  font-size: 50px;
  position: relative;
  top: -140px;
  margin-bottom: -90px;
}